.emptyMsg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	width: 65%;
	height: 93%;
	background-color: white;
	margin-right: 15px;
	box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
}

.msg {
	font-size: 25px;
	color: rgb(20, 52, 44);
	font-weight: 600;
	text-align: center;
	padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
	.emptyMsg {
		margin-right: 0px;
		text-align: center;
		width: 90%;
		height: 50%;
		border-radius: 0px 0px 12px 12px;
	}
}
