.forgotPassword{
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
}

.title {
	font-size: 30px;
	color: #ccd1be;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
}


.input {
	margin-bottom: 25px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 0px;
}

.signup {
	padding: 0;
	margin: 0;
	color: #ccd1be;
	font-weight: 300;
	margin-top: 25px;
}

#getStarted {
	color: white;
	font-weight: 400;
	margin-top: 0;
}

.label {
	font-size: 20px;
	color: #ccd1be;
}

.resetBtn {
	background-color: #ccd1be;
	color: rgb(20, 52, 44);
	font-size: 15px;
	border: 1px solid #ccd1be;
	text-align: center;
	width: 70%;
	padding: 15px 10px;
	border-radius: 25px;
	margin-top: 15px;
  margin-bottom: 20px;
}

.resetBtn:hover {
	cursor: pointer;
}

.resetPass {
	text-align: center;
}