.list{
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(254, 247, 237); */
  border-radius: 12px;
  height: 94.5%;
  margin-left: 15px;
  margin-right: 10px;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  width: 30%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.users{
  padding: 15px;
}
.user{
display: flex;
flex-direction: column;
}

.usersHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(57, 138, 97);
color: white;
padding: 10px 15px;
}

.liveChat{
  font-weight: 900;
}
.displayName{
  font-weight: 300;
  font-size: 20px;
}

.searchInput{
  border-radius: 25px;
  border: 1px solid grey;
  text-align: center;
  width: 80%;
  padding: 8px 12px;
  margin-top: 8px;
}
.searchInput:focus::placeholder {
  color: transparent;
}
.searchInput:focus {
  outline:none;
}

.search{
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* width: 100%; */

}